{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'categoria/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%">Nro</th>
        <th scope="col" style="width: 30%">Nombre</th>
        <th scope="col" style="width: 25%">Descripción</th>
        <th scope="col" style="width: 25%">Nombre cuenta</th>
        <th scope="col" style="width: 10%">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}