{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="{% url 'erp:dashboard' %}" class="brand-link">
        <img src="{% static 'img/contabilidad.png' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">YuriñaGM</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.get_image }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <img src="{% static 'img/pig_money4s.png' %}" width="30" height="30"/>
                        <p>Ingresos
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: block;">
                        <li class="nav-item">
                            <a href="{% url 'erp:client_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Clientes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'erp:ingreso_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Facturas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'erp:diario_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ingresos</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <img src="{% static 'img/egreso.png' %}" width="30" height="30"/>
                        <p>Egresos
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: block;">
                        <li class="nav-item">
                            <a href="{% url 'erp:proveedor_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Proveedores</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'erp:sale_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Compras</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'erp:egreso_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Egresos</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <img src="{% static 'img/contabilidad3.png' %}" width="30" height="30"/>
                        <p>Contabilidad
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: block;">
                        <li class="nav-item">
                            <a href="{% url 'erp:mayor_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Asientos</p>
                            </a>
                        </li>
{#                        <li class="nav-item">#}
{#                            <a href="{% url 'erp:mayor_list' %}" class="nav-link">#}
{#                                <i class="far fa-circle nav-icon"></i>#}
{#                                <p>Plan de cuentas</p>#}
{#                            </a>#}
{#                        </li>#}
                        <li class="nav-item">
                            <a href="{% url 'erp:elemento_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Elemento</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'erp:tipocuenta_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Tipo Cuenta</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'erp:plancontable_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Plan Contable</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'erp:mayor_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Libro Mayor</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'erp:rentaactivo_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Rentabilidad Activo</p>
                            </a>
                        </li>
                    </ul>
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <img src="{% static 'img/project.png' %}" width="30" height="30"/>
                        <p>Proyectos
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: block;">
                        <li class="nav-item">
                            <a href="{% url 'erp:project_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Proyectos</p>
                            </a>
                        </li>
                    </ul>
                </li>
                </li>
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <img src="{% static 'img/reporte.png' %}" width="30" height="30"/>
                        <p>Reportes
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: block;">
                        <li class="nav-item">
                            <a href="{% url 'erp:dashboard' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'erp:endfinanciero_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Endeudamiento</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'diario_report' %}" class="nav-link">
                                <i class="nav-icon fas fa-chart-bar"></i>
                                <p>
                                    Reporte de Ingresos
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'plancuenta_report' %}" class="nav-link">
                                <i class="nav-icon fas fa-chart-bar"></i>
                                <p>
                                    Reporte Plan Contable
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Reportes</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <img src="{% static 'img/inventario.png' %}" width="30" height="30"/>
                        <p>Inventario
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: block;">
                        <li class="nav-item">
                            <a href="{% url 'erp:categoria_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Categorías de productos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'erp:product_list' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Lista de Productos</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <img src="{% static 'img/configuracion.png' %}" width="30" height="30"/>
                        <p>Administrador
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview" style="display: block;">
                        <li class="nav-item">
                            <a href="{% url 'user:user_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-user-friends"></i>
                                <p>Usuarios</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
